---
import ProjectsGrid from "../components/ProjectsGrid.tsx";
import { projects } from "../constants/projects";
---

<section id="projects">
  <div class="container">
    <h2 class="section-label reveal">Selected Work</h2>
    <ProjectsGrid client:visible projects={projects} />
  </div>
</section>
