---
import { services } from "../constants/services";
---

<section id="services">
  <div class="container">
    <h2 class="section-label reveal">How I Help</h2>
    <div class="services-list">
      {
        services.map((s, i) => (
          <div class={`service-row reveal reveal-delay-${i + 1}`}>
            <span class="service-num">{s.num}</span>
            <div class="service-info">
              <span class="service-name">{s.name}</span>
              <span class="service-desc">{s.desc}</span>
            </div>
            <div class="service-tags">
              {s.tags.map((t) => (
                <span class="stag">{t}</span>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
